body {
  margin: 0;
  font-family: 'Turret Road', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: 'Turret Road', cursive;
}

h1 {
  margin: 0.5rem 0;
}

* {
  box-sizing: border-box;
}
